.vets-about-hero {
    background: $vets-black;
    .vets-hero-content {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: center;
        position: relative;
        .about-tabs {
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            .tab {
                height: 160px;
                width: 340px;
                cursor: pointer;
                .vets-heading-size-small {
                    color: $white;
                    font-size: 1.8em;
                }
            }
            .tab.our-services {
                background: url('../images/vets/services-yellow.jpg');
                background-size: cover;
                background-position: 0% 25%;
            }
            .tab.appointments {
                background: url('../images/vets/services-red.jpg');
                background-size: cover;
                background-position: 0% 85%;
            }
            .tab.pet-care {
                background: url('../images/vets/services-pink.jpg');
                background-size: cover;
                background-position: 0% 15%;
            }
        }
    }
}

.vets-content.about {
    h2.services-heading.vets-heading-size-large {
        color: $vets-yellow;
    }
    h2.pet-care-heading.vets-heading-size-large {
        color: $vets-pink;
    }
    .entry-content {
        margin-top: 5%;
    }
    .vets-services {
        padding: 6%;
        text-align: left;
        hr {
            width: 45%;
            margin: 4%;
            margin-left: 0;
        }
        h3 {
            font-family: $vets-poiret;
            font-weight: 700;
            margin-bottom: 4%;
            font-size: 1.8em;
        }
        h3.services-heading {
            color: $vets-yellow;
        }
        h3.pet-care-heading {
            color: $vets-pink;
        }
    }
}