.vets-about-hero.vets-half-hero {
    background: $vets-black;
    margin-top: 100px;
    height: 28vh;
    background-size: cover;
    @include mq('tablet-wide') {
        height: 280px;
    }
    @include mq('tablet') {
        height: 280px;
    }
    @include mq('phone-wide') {
        height: 120px;
    }
    .vets-hero-content {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: center;
        position: relative;
        .about-tabs {
            position: absolute;
            top: 140px;
            left: 0;
            right: 0;
            @include mq('1700') {
                top: 120px;
            }
            @include mq('desktop') {
                top: 100px;
            }
            @include mq('tablet-wide') {
                top: 120px;
            }
            @include mq('tablet') {
                top: 160px;
                width: 100%;
                display: flex;
                flex-direction: row;
            }
            @include mq('tablet-small') {
                top: 180px;
            }  
            @include mq('phone-wide') {
                top: 50px;
            }
            .cell {
                @include mq('tablet') {
                    width: 33%;
                    margin: 0;
                    padding: 0;
                }
                .tab {
                    @include mq('tablet-wide') {
                        height: 210px;
                        margin: 0;
                    }
                    @include mq('tablet') {
                        height: 190px;
                        margin: 0 2px;
                        padding: 20% 0;
                    }
                    @include mq('tablet-small') {
                        height: 160px;
                    }  
                    @include mq('phablet') {
                        height: 120px;
                    }
                    @include mq('phone-wide') {
                        height: 100px;
                    }
                    i {
                        @include mq('tablet') {
                            font-size: 2em;
                            margin-bottom: 10%;
                        } 
                        @include mq('tablet-small') {
                            font-size: 1.6em;
                        }   
                    }
                    h2 {
                        @include mq('tablet') {
                            font-size: 1.2em;
                        }  
                        @include mq('phone-wide') {
                            font-size: 0.9em;
                        } 
                    }
                }
            }
        }
    }
}

.vets-content.about {
    @include mq('phone-wide') {
        margin-bottom: 80px;
    }
    .vets-services {
        padding: 0 6%;
        text-align: left;
        @include mq('desktop-wide') {
            margin-top: 45px;
        }
        @include mq('tablet') {
            margin-top: 40px;
        }
        @include mq('phone-wide') {
            margin-top: 20px;
        }
        .about-dropdown-heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 4%;
            &:hover {
                h3.services-heading, h3.pet-care-heading, .fas.services, .fas.pet-care {
                    @include mq('tablet-small') {
                        color: $vets-orange;
                    }
                }
            }
            @include mq('tablet-small') {
                cursor: pointer;
            }
            h3 {
                font-family: $vets-poiret;
                font-weight: 700;
                font-size: 1.8em;
                margin-bottom: 0;
            }
            h3.services-heading {
                color: $vets-yellow;
            }
            h3.pet-care-heading {
                color: $vets-pink;
            }
            .fas {
                margin-left: 10px;
                font-size: 1.8em;
                display: none;
                @include mq('tablet-small') {
                    display: flex;
                }
            }
            .fas.services {
                color: $vets-yellow;
            }
            .fas.pet-care {
                color: $vets-pink;
            }
            .fas.fa-sort-down.is-active {
                @include mq('tablet-small') {
                    display: none;
                }
            }
            .fas.fa-sort-up {
                transform: translateY(12px);
                display: none;
            }
            .fas.fa-sort-up.is-active {
                @include mq('tablet-small') {
                    display: flex;
                }
            }
        }
        .entry-content-container {
            display: flex;
            flex-direction: column;
            @include mq('phone-wide') {
                margin-top: 10px;
            }
            li:before {
                content: '\f1b0';
                font-family: 'FontAwesome';
                width: 10px;
                height: 10px;
                margin-right: 10px;
                margin-left: -25px;
            }
            h2, h3 {
                font-family: $vets-poiret;
                font-weight: 700;
                margin-top: 40px;
                margin-bottom: 20px;
                @include mq('tablet') {
                    font-size: 1.6em;
                }
            }
            h2.services-heading.vets-heading-size-large, h2.pet-care-heading.vets-heading-size-large {
                @include mq('phone-wide') {
                    font-size: 2.6em;
                }
            }
            h2.services-heading.vets-heading-size-large {
                color: $vets-yellow;
            }
            h2.pet-care-heading.vets-heading-size-large {
                color: $vets-pink;
            }
            .entry-content {
                margin: 4% 0;
                margin-bottom: 7%;
            }
        }
    }
    .contact-button {
        margin: auto;
    }
}

.vets-content.services {
    h2, h3, li:before {
        color: $vets-yellow;
    }
}

.vets-content.pet-care {
    h2, h3, li:before {
        color: $vets-pink;
    }
}

.vets-content.appointments {
    background: $white;
    padding: 2% 0;
    @include mq('tablet-wide') {
        margin-top: 18%;
        margin-bottom: 14%;
    }
    @include mq('tablet') {
        margin-top: 20%;
    }
    @include mq('phone-wide') {
        margin-top: 25%;
        margin-bottom: 30%;
    }
    .heading {
        margin: 2% auto;
        width: 80%;
        h2.vets-heading-size-small {
            text-align: center;
            color: $vets-orange;
            font-size: 3.5em;
            @include mq('tablet') {
                font-size: 2.4em;
            }
            @include mq('phone-wide') {
                font-size: 1.6em;
            }
        }
    }
    hr {
        margin: 0 auto;
        border-bottom-color: $vets-red;
        width: 80%;
        margin-bottom: 4%;
    }
    .vets-vl {
        height: 200%;
        border-color: $vets-red;
    }
    .grid-y {
        padding: 0 4%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        width: 100%;
        @include mq('phone-wide') {
            margin-top: 30px;
        }
        .item:nth-child(odd) {
            margin-right: 30vw;
            @include mq('phone-wide') {
                margin-right: 0;
            }
        }
        .item:nth-child(even) {
            margin-left: 30vw;
            flex-direction: row-reverse;
            text-align: right;
            @include mq('phone-wide') {
                margin-left: 0;
                flex-direction: column;
            }
            .number {
                @include mq('phone-wide') {
                    margin-left: auto;
                }
            }
        }
        .item {
            padding: 2%;
            border-radius: 10px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            @include mq('phone-wide') {
                flex-direction: column;
                margin-bottom: 14px;
            }
            .number {
                margin: 0;
                background: $vets-red;
                border: 4px solid $white;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                p {
                    margin: 0;
                    font-size: 1.6em;
                    margin-top: 12%;
                    color: $white;
                    @include mq('phone-wide') {
                        font-size: 1.2em;
                    }
                }
            }
            p {
                color: $vets-black;
                font-size: 1.4em;
                margin: 0 4%;
                margin-top: 5%;
                @include mq('tablet') {
                    font-size: 1em;
                }
                @include mq('phone-wide') {
                    font-size: 0.9em;
                }
            }
        }
    }
    .vets-button-link {
        margin: 30px 0;
        .vets-button, .vets-button svg rect {
            width: 260px;
            height: 62px;
            background: $vets-red;
            font-size: 1.3em;
        }
        .vets-button:hover {
            background: none;
            color: $vets-red;
        }
        .vets-button svg rect {
            stroke: $vets-red;
        }
        .vets-button:hover svg rect {
            stroke: $vets-red;
            stroke-dasharray: 240, 370;
            stroke-dashoffset: 277;
        }
    }
}