.vets-contact-hero.grid-container.fluid {
    background-image: url('../images/vets/beach.jpg');
    background-position: 100% 49%;
    background-color: #a0a0a0;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    .vets-hero-content.grid-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        h1 {
            margin: auto;
            width: 100%;
            text-align: center;
            color: $white;
        }
    }
}

.vets-content.contact {
    padding-top: 4%;
    .contact-form-container {
        width: 45vw;
        .fm-form-container {
            width: 100%;
            .vets-button {
                margin: auto;
            }
        }
    }
    
}