.vets-home-hero {
    height: 100vh;
    background: url('../images/vets/hero-charlie.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-position: right;
    position: relative;
    .vets-hero-content {
        padding-left: 27px;
        .vets-heading-hero {
            max-width: 70%;
            font-family: $vets-lato;
            color: $vets-orange;
        }
        .vets-hr {
            max-width: 55%;
            margin: 0;
            border-bottom: 1.2px solid $white;
        }
        .vets-buttons {
            display: flex;
            justify-content: flex-end;
            max-width: 55%;
            margin-top: 3%;
            a {
                margin-left: 6%;
            }
            .vets-button.inverted {
                background: none;
                color: $vets-orange;
            }
            .vets-button.inverted svg rect {
                stroke: $vets-orange;
            }
        }
    }
    
    .vets-down-arrow-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        .vets-down-arrow {
            position: absolute;
            z-index: 2;
            height: 35px;
            width: 80px;
            margin: 0px 0 0 -40px;
            line-height: 20px;
            left: 50%;
            bottom: 0;
            text-align: center;
            font-size: 1.4em;
            text-decoration: none;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
            a {
                color: $vets-orange;
            }
        }
        .vets-down-arrow:hover {
        //    Bounce animation
        }
    }
    
}

.vets-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    div.vets-vl {
        border-left: 10px solid $vets-yellow;
        height: 108%;
        z-index: -1;
        margin: 0 auto;
        position: absolute;
    }
    .vets-team {
        margin: 10% auto;
        margin-top: 0%;
        padding-top: 4%;
        width: 55%;
        .vets-team-member {
            display: flex;
            flex-direction: column;
            .vets-heading-size-small {
                margin-bottom: 0;
            }
            .vets-subheading {
                font-style: italic;
            }
            .vets-team-content {
                background: $white;
                width: 100%;
                padding-top: 5%;
                padding-bottom: 4%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .vets-team-image {
                    img {
                        width: 90%;
                        border-radius: 50%;
                        margin: auto;
                    }
                }
            }
        }
        .vets-team-member:nth-child(odd) {
            align-items: flex-start;
            margin: 10% auto;
            margin-bottom: 14%;
        }
        .vets-team-member:nth-child(even) {
            align-items: flex-end;
            margin: 10% auto;
            margin-top: 14%;
            .vets-team-heading {
                text-align: right;
            }
            .vets-team-content {
                flex-direction: row-reverse;
            }
        }
    }
}
.vets-services {
    padding: 8%;
    text-align: center;
    .vets-heading-size-small {
        color: $vets-orange;
        // font-family: $vets-khula;
        margin-bottom: 5%;
    }
    .grid-x {
        display: flex;
        justify-content: center;
        .service {
            height: 200px;
            width: 200px;
            background: blue;
        }
    }
}

