.about-menu {
    font-size: 14px;
    font-family: $vets-lato;
    @include mq('tablet-small') {
        display: none;
    }
    .about-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        margin: 0;
        @include mq('phone-wide') {
            font-size: 0.9em;
        }
        li {
            padding-bottom: 5px;
            @include mq('phone-wide') {
                margin-bottom: 7px;
            }
        }
        a {
            color: $vets-grey;
            text-transform: uppercase;
        }
        a:hover {
            color: $vets-black;
        }
        .current-menu-item a, .current-menu-ancestor a {
            font-weight: 700;
            color: $vets-black;
        }
    }
}

.about-menu.is-active {
    @include mq('tablet-small') {
        display: flex;
    }
}

hr.about-menu-hr {
    width: 45%;
    margin: 4%;
    margin-left: 0;
    @include mq('tablet-small') {
        display: none;
    }
}

hr.about-menu-hr.is-active {
    @include mq('tablet-small') {
        display: flex;
    }
}