.services-menu {
    font-size: 14px;
    font-family: $vets-lato;

    .services-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        margin: 0;

        li {
            padding-bottom: 5px;
        }

        a {
            color: $vets-grey;
            text-transform: uppercase;
        }

        a:hover {
            color: $vets-black;
        }
    }

    #menu-services {
        .current-menu-item a,
        .current-menu-ancestor a {
            font-weight: 700;
            color: $vets-black;
        }
    }

    #menu-pet-care {
        .current-menu-item a,
        .current-menu-ancestor a {
            font-weight: 700;
            color: $vets-black;
        }
    }

    h3 {
        font-size: 22px;
        font-family: $vets-lato;
        color: $vets-orange;
    }
}