.vets-footer {
  width: 100%;
  padding: 0;
  margin: 10% 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  .map {
    border: none;
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
  }
  .footer-content, .is-dropdown-submenu {
    background: $vets-black;
  }
  .footer-content {
    margin: 0;
    padding: 2%;
    color: $white;
    @include mq('tablet') {
      padding: 5% 2%;
    }
    @include mq('tablet-small') {
      padding: 30px;
    }
    @include mq('phablet') {
      padding-left: 10px;
      padding-right: 10px;
    }
    .footer-content-text {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include mq('tablet') {
        padding: 0;
      }
      @include mq('tablet-small') {
        flex-direction: column;
      }
      @include mq('phone-wide') {
        padding: 0;
      }
      .parking-details {
        background: $vets-black;
        width: 100%;
        color: $white;
        font-size: 1em;
        text-align: left;
        padding: 2%;
        @include mq('desktop') {
          padding: 3%;
        }
        @include mq('tablet-small') {
          text-align: center;
        }
        .vets-heading-size-small {
          color: $white;
          @include mq('desktop') {
            font-size: 1.8em;
          }
        }
        p {
          margin: 0;
          font-size: 1em;
          color: $white;
          @include mq('tablet') {
            font-size: 0.8em;
          }
          @include mq('tablet-small') {
            font-size: 0.9em;
          }
        }
      }
      .clinic-hours {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mq('tablet') {
          align-items: center;
        }
        @include mq('tablet-small') {
          justify-content: center;
          flex-direction: row;
          margin: 1% 0;
        }
        @include mq('phablet') {
          width: 100%;
        }
        .hours {
          border: solid 1px rgba(255, 255, 255, 0.1);
          border-radius: 4px;
          padding: 3% 8%;
          @include mq('desktop') {
            padding: 1% 8%;
          }
          @include mq('tablet') {
            padding: 4% 6%;
          }
          @include mq('tablet-small') {
            padding: 3% 6%;
          }
          .vets-heading-size-small  {
            margin-bottom: 4%;
            color: $white;
            @include mq('desktop') {
              font-size: 1.8em;
            }
            @include mq('tablet') {
              font-size: 1.4em;
            }
            @include mq('tablet-small') {
              font-size: 1.8em;
            }
          }
          .subheading {
            font-weight: 700;
            font-size: 120%;
            margin-bottom: 1%;
            @include mq('desktop') {
              font-size: 1em;
            }
            @include mq('tablet') {
              font-size: 0.8em;
            }
            @include mq('tablet-small') {
              font-size: 1em;
            }
          }
          p {
            margin-bottom: 5%;
            @include mq('tablet') {
              font-size: 0.8em;
            }
          }
        }
      }
      .contact-details {
        @include mq('tablet') {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
        @include mq('tablet-small') {
          width: 100%;
          margin: 0 auto;
          margin-top: 4%;
        }
        @include mq('phone-wide') {
          width: 100%;
        }
        .vets-contact-item {
          display: flex;
          flex-direction: row-reverse;
          font-size: 1.2em;
          @include mq('tablet') {
            width: 100%;
            align-self: flex-end;
          }
          @include mq('tablet-small') {
            justify-content: center;
            flex-direction: row;
          }
          p {
            text-align: right;
            margin-right: 10px;
            @include mq('desktop') {
              font-size: 0.6em;
            }
            @include mq('tablet') {
              font-size: 0.6em;
            }
            @include mq('tablet-small') {
              font-size: 0.9em;
              text-align: center;
              margin-right: 0;
            }
            @include mq('tablet-small') {
              font-size: 0.8em;
            }
          }
          i {
            font-size: 1.2em;
            color: $vets-orange;
            @include mq('desktop') {
              font-size: 0.9em;
            }
            @include mq('tablet-small') {
              margin-right: 3%;
            }
          }
        }
        .vets-contact-item.facebook {
          .vets-button, .vets-button svg rect {
            width: 240px;
            height: 58px;
            @include mq('desktop') {
              width: 200px;
              height: 52px;
            }
            @include mq('tablet') {
              width: 190px;
              height: 48px;
            }
            @include mq('tablet-small') {
              width: 200px;
              height: 52px;
            }
          }
          .vets-button {
            @include mq('phablet') {
              margin-top: 4%;
            }
            p {
              margin: 0;
              color: $white;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-content: center;
              @include mq('desktop') {
                font-size: 0.8em;
              }
              span {
                padding-top: 2%;
              }
              .fa-facebook-square {
                color: $white;
              }
            }
            .fa-facebook-square {
              margin-left: 5%;
              font-size: 1.8em;
            }
            &:hover {
              background: none;
              svg rect {
                stroke-dasharray: 210, 312;
                stroke-dashoffset: 210;
              }
              p, .fa-facebook-square {
                color: $vets-orange;
              }
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    border-top: solid 1px $white;
    background: $vets-black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    div {
      padding: 4px 0;
      p {
        font-size: 0.9em;
        padding: 5%;
        margin: 0;
        color: $white;
      }
    }
  }
}

// .primary-menu {
      //   @include mq('tablet') {
      //     display: none !important;
      //   }
      //   #menu-primary-2 {
      //     display: flex !important;
      //   }
      //   .desktop-menu {
      //     display: flex;
      //     flex-direction: column;
      //     a {
      //       color: $white;
      //     }
      //     a:hover {
      //       color: $vets-orange;
      //     }
      //   }
      //   .is-dropdown-submenu {
      //     border: none;
      //     top: -100%;
      //     left: 30%;
      //     a {
      //       font-weight: 700;
      //     }
      //   }
      //   .dropdown.menu  {
      //     &> li.is-dropdown-submenu-parent {
      //       display: flex;
      //       flex-direction: row;
      //       justify-content: space-between;
      //       &> a {
      //         &::after {
      //           border-color: $white transparent transparent;
      //           margin-top: -6px;
      //         }
      //         &:hover {
      //           color: $vets-orange;
      //           &::after {
      //             border-color: $vets-orange transparent transparent;
      //           }
      //         }
  
      //       }
      //     }
      //   }
      // }