// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(nav);
  background: $white;
  border-bottom: solid 1px #d7d7d7;
  .menu-icon {
    left: 90%;
    &::after {
      background: $vets-black;
      box-shadow: 0 7px 0 $vets-black, 0 14px 0 $vets-black;
    }
  }
}
// Site left nav
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(nav);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

.site-navigation.top-bar {
  @include mq('navigation') {
    padding: 0;
    margin-top: 0;
  }
}

.top-bar, .top-bar ul {
  background-color: $white;
}


.top-bar-right {
  align-self: flex-end;
  @include mq('navigation') {
    width: 100%;
    margin: 0;
  }
}

.site-header {
  z-index: 100;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: $white;
  border-bottom: solid 1px $vets-light-grey;
  .grid-container {
    @include mq('navigation') {
      padding: 0;
    }
  }
  .vets-nav-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: right;
    margin-bottom: -30px;
    padding-top: 3%;
    padding-right: 49px;
    @include mq('navigation') {
      padding-right: 42px;
      margin: 0;
      background: $vets-black;
      padding-top: 3%;
      padding-bottom: 1.5%;
    }
    @include mq('phone-wide') {
      padding-right: 20px;
    }
    .vets-contact-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: 4%;
      @include mq('phone-wide') {
        margin-left: 3%;
      }
      p {
        margin-left: 6px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 0.9em;
        @include mq('navigation') {
          color: $white;
          font-size: 0.8em;
          font-weight: 400;
        }
        @include mq('phone-wide') {
          font-size: 0.6em;
          margin-left: 4px;
        }
      }
      .fas {
        color: $vets-blue;
        font-size: 1.1em;
        @include mq('navigation') {
          color: $vets-yellow;
          font-size: 0.7em;
        }
      }
      .fa-facebook-square {
        color: $vets-orange;
        font-size: 1.9em;
        @include mq('navigation') {
          color: $white;
          font-size: 1.4em;
        }
      }
      .fa-facebook-square:hover {
        color: $vets-blue;
        @include mq('navigation') {
          color: $vets-yellow;
        }
      }
    };
  }
}

#menu-primary {
  // active state for non-dropdown menu links (including dropdown children links)
  .current-menu-item:not(.is-dropdown-submenu-parent) a {
    color: $vets-orange;
    font-weight: 700;
  }
  .menu-item {
    a {
      font-family: $vets-lato;
      color: $vets-black;
      font-size: 1.1em;  
      padding: 16px 26px;
      color: $vets-black;
      position: relative;
      &:hover {
        color: $vets-orange;
        font-weight: 700;
      }
    }
  }
  li.is-dropdown-submenu-parent {
    a {
      &::after {
        border-color: $vets-black transparent transparent;
        margin-top: -2px;
      }
      &:hover {
        &::after {
          border-color: $vets-orange transparent transparent;
        }
      }
    }
  }
  // active state for dropdown menu links
  li.is-dropdown-submenu-parent.current-menu-parent > a {
    color: $vets-orange;
    font-weight: 700;
    &::after {
      border-color: $vets-orange transparent transparent;
      margin-top: -2px;
    }
  }
}

.vets-logo {
  max-width: 220px;
  @include mq('phone-wide') {
    max-width: 180px;
    transform: translateX(-15px);
  }
}

.mobile-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  a {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    font-family: $vets-lato;
    color: $vets-black;
    text-transform: uppercase;
    font-size: 14px;  
    font-weight: 400;
  }
  .submenu-toggle {
    display: none;
  }
}

.menu .is-active > a {
  background: $vets-orange;
}