// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.top-bar, .top-bar ul {
  background-color: $white;
}

.top-bar-right {
  align-self: flex-end;
}

.site-header {
  z-index: 100;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: $white;
  border-bottom: solid 1px $vets-light-grey;
  .vets-nav-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: right;
    margin-bottom: -30px;
    padding-top: 1%;
    padding-right: 49px;
    .vets-contact-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: 4%;
      p {
        margin-left: 6px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 0.9em;
      }
      .fas {
        color: $vets-blue;
        font-size: 1.1em;
      }
      .fa-facebook-square {
        color: $vets-orange;
        font-size: 1.9em;
      }
      .fa-facebook-square:hover {
        color: $vets-blue;
      }
    };
  }
}

#menu-primary {
  .menu-item {
    a {
      font-family: $vets-lato;
      color: $vets-black;
      font-size: 1.1em;  
      padding: 16px 26px;
    }
    a:hover {
      border-bottom: 1px solid $vets-black;
      color: $vets-black;
    }
  }
}

.vets-logo {
  max-width: 220px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $vets-black transparent transparent;
  margin-top: -1px;
}
