body {
    font-family: $vets-khula;
    color: $vets-black;
}

.vets-heading-size-large, .vets-heading-size-small {
    color: $vets-blue;
    font-family: $vets-poiret;
    letter-spacing: $vets-heading-spacing;
    font-weight: 700;
}
.vets-heading-size-large {
    font-size: $vets-heading-size-large;
}
.vets-heading-size-small {
    font-size: $vets-heading-size-small;
}
.vets-subheading {
    font-size: $vets-subheading-size;
}
.vets-paragraph-size-large {
    font-size: $vets-paragraph-size-large;
    max-width: 52%;
}

a {
    color: $vets-orange;
}

a:hover {
    color: $vets-orange;
}

a:focus {
    color: $vets-yellow;
}

.bold {
    font-weight: 600;
}